@page "/recipes"
@using System.Security.Claims
@using Kalorhytm.Contracts.Models.Recipes
@using Kalorhytm.Domain.Enums
@using Kalorhytm.Infrastructure.External.Spoonacular.Models
@using Kalorhytm.Logic.Interfaces
@using Kalorhytm.WebApp.Components.Shared

@inject AuthenticationStateProvider _AuthenticationStateProvider
@inject NavigationManager _NavigationManager
@inject ISpoonacularRecipesService _RecipesService

<PageTitle>Search Recipes</PageTitle>

<div class="container mx-auto px-4 py-8 text-center">
    <h3>Search Recipes</h3>
    <EditForm Model="@filterModel" OnValidSubmit="@OnSearchRecipes" FormName="SearchRecipesForm"
    >
        <InputText @bind-Value="filterModel.Query" placeholder="Search for recipes..." class="border rounded-md px-3 py-2 mb-3 w-full" />

        <MultiSelectDropdown TEnum="SpoonacularCuisine"
                             Label="Cuisine"
                             SelectedValues="@filterModel.Cuisines"
                             SelectedValuesChanged="(v => filterModel.Cuisines = v)" />


        <MultiSelectDropdown TEnum="SpoonacularDiet"
                             Label="Diet"
                             SelectedValues="@filterModel.Diets"
                             SelectedValuesChanged="(v => filterModel.Diets = v)" />

        <MultiSelectDropdown TEnum="SpoonacularIntolerances"
                             Label="Intolerance"
                             SelectedValues="@filterModel.Intolerances"
                             SelectedValuesChanged="(v => filterModel.Intolerances = v)" />

        <MultiSelectDropdown TEnum="SpoonacularMealType"
                             Label="Meal Type"
                             SelectedValues="@filterModel.Types"
                             SelectedValuesChanged="(v => filterModel.Types = v)" />

        <button type="submit" class="mt-4 bg-blue-500 text-gray-100 px-4 py-2 rounded">Search</button>
    </EditForm>

</div>


@code {
    private string? userId { get; set; }
    private bool isProcessing { get; set; } = true;

    private List<RecipeSummaryModel> recipes = new();
    private RecipeFilterModel filterModel = new();
    private string selectedSort = "title";
    
    protected override async Task OnInitializedAsync()
    {
        var authState = await _AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        userId = user.FindFirst(ClaimTypes.NameIdentifier)?.Value;
    }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            //await LoadRecipes();
            isProcessing = false;
            StateHasChanged();
        }
    }
    
    private async Task OnSearchRecipes()
    {
        var request = new SpoonacularComplexSearchRequest
        {
            Query = filterModel.Query,
            Cuisine = string.Join(",", filterModel.Cuisines.Select(c => c.ToString().ToLower())),
            Diet = string.Join(",", filterModel.Diets.Select(d => d.ToString().ToLower())),
            Intolerances = string.Join(",", filterModel.Intolerances.Select(i => i.ToString().ToLower())),
            Type = string.Join(",", filterModel.Types.Select(t => t.ToString().ToLower())),
            Number = 9,
            Offset = 0,
            AddRecipeInformation = true
        };

        recipes = await _RecipesService.SearchRecipesAsync(request);
    }


    private async Task GetRandomRecipes()
    {
        recipes = await _RecipesService.GetRandomRecipesAsync(9);
    }

    public class RecipeFilterModel
    {
        public string Query { get; set; } = "";
        public List<SpoonacularCuisine> Cuisines { get; set; } = new();
        public List<SpoonacularDiet> Diets { get; set; } = new();
        public List<SpoonacularIntolerances> Intolerances { get; set; } = new();
        public List<SpoonacularMealType> Types { get; set; } = new();
    }
}