@page "/recipes"
@using System.Security.Claims
@using Kalorhytm.Contracts.Models.Recipes
@using Kalorhytm.Domain.Enums
@using Kalorhytm.Infrastructure.External.Spoonacular.Models
@using Kalorhytm.Logic.Interfaces

@inject AuthenticationStateProvider _AuthenticationStateProvider
@inject NavigationManager _NavigationManager
@inject ISpoonacularRecipesService _RecipesService

<h3>Recipes</h3>

@if (recipes == null || !recipes.Any())
{
    <div class="">
        <h4>Wybierz swoje filtry lub spróbuj losowych przepisów</h4>

        <EditForm Model="@filterModel" OnValidSubmit="@OnSearchRecipes">
            <div class="filters-form">
                <InputText @bind-Value="filterModel.Query" placeholder="Szukaj przepisu..." />
                @* <InputText @bind-Value="filterModel.Cuisine" placeholder="Kuchnia (np. italian)" /> *@
                <InputText @bind-Value="filterModel.Diet" placeholder="Dieta (np. vegetarian)" />
                <InputText @bind-Value="filterModel.Intolerances" placeholder="Nietolerancje (np. gluten)" />
                @* <InputText @bind-Value="filterModel.Type" placeholder="Rodzaj dania (np. main course)" /> *@
                <button type="submit">Szukaj</button>
            </div>
        </EditForm>

        <button class="random-btn" @onclick="GetRandomRecipes">Losowe przepisy (9)</button>
    </div>
}
else
{
    <div class="recipes-layout">
        <div class="sidebar">
            <h4>Filtry</h4>
            <EditForm Model="@filterModel" OnValidSubmit="@OnSearchRecipes">
                <InputText @bind-Value="filterModel.Query" placeholder="Szukaj przepisu..." />
                @* <InputText @bind-Value="filterModel.Cuisine" placeholder="Kuchnia" /> *@
                <InputText @bind-Value="filterModel.Diet" placeholder="Dieta" />
                <button type="submit">Filtruj</button>
            </EditForm>
        </div>

        <div class="content">
            <div class="sorting">
                <label>Sortuj według:</label>
                <select @bind="selectedSort">
                    <option value="title">Tytuł</option>
                    <option value="calories">Kalorie</option>
                </select>
            </div>

            <div class="recipes-grid">
                @foreach (var recipe in recipes)
                {
                    <div class="recipe-card">
                        <img src="@recipe.ImageUrl" alt="@recipe.Title" />
                        <h5>@recipe.Title</h5>
                    </div>
                }
            </div>
        </div>
    </div>
}


@code {
    private string? userId { get; set; }
    private bool isProcessing { get; set; } = true;

    private List<RecipeSummaryModel> recipes = new();
    private RecipeFilterModel filterModel = new();
    private string selectedSort = "title";
    
    protected override async Task OnInitializedAsync()
    {
        var authState = await _AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        userId = user.FindFirst(ClaimTypes.NameIdentifier)?.Value;
    }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            //await LoadRecipes();
            isProcessing = false;
            StateHasChanged();
        }
    }
    
    private async Task OnSearchRecipes()
    {
        // pousuwac z modelu potem te useless filtry typu equipment
        
        /* var request = new SpoonacularComplexSearchRequest
        {
            Query = filterModel.Query,
            Cuisine = filterModel.Cuisine,
            Diet = filterModel.Diet,
            Intolerances = filterModel.Intolerances,
            Type = filterModel.Type,
            Number = 9,
            Offset = 0,
            AddRecipeInformation = true
        }; 

        recipes = await _RecipesService.SearchRecipesAsync(request); */
    }

    private async Task GetRandomRecipes()
    {
        recipes = await _RecipesService.GetRandomRecipesAsync(9);
    }

    public class RecipeFilterModel
    {
        public string Query { get; set; } = "";
        public SpoonacularCuisine Cuisine { get; set; }
        public string Diet { get; set; } = "";
        public string Intolerances { get; set; } = "";
        public SpoonacularMealType Type { get; set; }
    }
}